@import "tailwindcss";

@theme {
    --font-sans: var(--font-geist-sans), ui-sans-serif, system-ui, sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

    /* 
    https://developer.mozilla.org/en-US/docs/Web/CSS/color_value/oklch
    OKLCH stands for:
    •	L: Lightness (0% to 100%)
    •	C: Chroma (color intensity, 0 to ~0.4+)
    •	H: Hue (angle around a color wheel, in degrees — 0 to 360)
    */
    --color-primary: oklch(64% 0.25 260);
    --color-secondary: oklch(72% 0.15 180);
    --color-accent: oklch(80% 0.20 40);

    --color-bg: oklch(100% 0 0);
    --color-bg-muted: oklch(95% 0.01 270);
    --color-bg-inverted: oklch(0% 0.05 270);

    --color-text: oklch(20% 0 0);
    --color-text-muted: oklch(40% 0.02 270);
    --color-text-inverted: oklch(98% 0 0);
    --color-link: oklch(60% 0.2 250);

    --color-border: oklch(85% 0.02 270);
    --color-border-muted: oklch(90% 0.01 270);
    --color-border-focus: oklch(65% 0.20 260);

    --color-success: oklch(70% 0.25 140);
    --color-warning: oklch(85% 0.22 80);
    --color-error: oklch(70% 0.22 20);
    --color-info: oklch(75% 0.18 230);
    --color-disabled: oklch(88% 0.01 270);

    /* Club Colors */
    --color-light-brown: #9c9391;
    --color-mid-brown: #60524f;
    --color-dark-brown: #49403e;
    --color-bright-yellow: #ffe665;
    --color-light-yellow: #ffec8b;

    --color-web: oklch(75% 0.25 250);  /* Vibrant blue-purple */
    --color-ai: oklch(82% 0.29 145);   /* Electric green */
    --color-app: oklch(80% 0.31 35);   /* Bright orange */
    --color-games: oklch(70% 0.28 330);  /* Playful magenta-purple */
    --color-systems: oklch(78% 0.23 200);  /* Cool steel blue */
}

.text-web {
    color: var(--color-web);
}

.text-ai {
    color: var(--color-ai);
}

.text-app {
    color: var(--color-app);
}

.text-games {
    color: var(--color-games);
}

.text-systems {
    color: var(--color-systems);
}

.text-bright-yellow {
    color: var(--color-bright-yellow);
}

.text-light-yellow {
    color: var(--color-light-yellow);
}

.text-light-brown {
    color: var(--color-light-brown);
}

.text-mid-brown {
    color: var(--color-mid-brown);
}

.text-dark-brown {
    color: var(--color-dark-brown);
}

/* Custom tailwind classes */
@layer components {
    .page {
        @apply flex flex-col w-full gap-20 md:gap-32 px-2 py-32 bg-bg dark:bg-bg-inverted
    }

    .info-page {
        @apply flex flex-col w-full gap-20 bg-bg dark:bg-bg-inverted
    }
}

html,
body {
  @apply bg-bg dark:bg-bg-inverted min-h-screen;
}